<nav>
  <button mat-button="" title="Docs menu" class="hamburger mat-button mat-button-base">
    <span class="mat-button-wrapper">
      <div class="maticon">
        <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
      </div>
    </span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <div>IoT_Microservices</div>
</nav>
