@navbar-height: 64px;

nav {
  align-items: center;
  box-sizing: border-box;
  height: @navbar-height;
  padding: 14px 16px;
  white-space: nowrap;
  width: 100%;
}
.nav-item {
  font-size: 24px;
  line-height: 24px;
  margin: 0 16px;
}
.nav-date {
  font-size: 24px;
  line-height: 36px;
  margin-right: 5%;
}
.nav-ms-menu {
  font-size: 24px;
  font-weight: normal;
}
.nav-title {
  font-size: 48px;
  margin-right: 72px;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}
