<nav class="bg-blue white">
  <span class="float-left metal-mania nav-item nav-title user-select-none white">
    <a routerLink="/">IoT_Microservices</a>
  </span>
  <app-login></app-login>
  <span class="float-right nav-date">{{ today }}</span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngFor="let opt of options" [routerLink]="opt.link">{{ opt.name }}</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="appMenu" (menuClosed)="menuClosed()" (menuOpened)="menuOpened()" type="button">
    <label class="nav-ms-menu">Temperatura</label>
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</nav>
