@import 'colors.less';
@import 'styles.less';

.arrow-btn {
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  position: relative;
  top: -3px;
  vertical-align: middle;
}
.cards-container {
  height: 265px;
  text-align: center;
}
.card {
  display: inline-block;
  height: 265px;
  text-align: left;
}
.card-left {
  margin-right: 3%;
  width: 60%;
}
.card-right {
  margin-left: 3%;
  width: 34%;
}
.measure-block:nth-child(even) {
  .topic-title {
    background-image: linear-gradient(to left, @dark-blue, @blue);
  }
}
