<main class="container">
  <div class="measure-block" *ngFor="let micro of microcontrollers">
    <h1 class="topic-title white">
      <span>
        {{ micro.measure }}: {{ micro.name }},
        <i>{{ micro.sensor }}</i>
      </span>
      <span class="float-right">
        <mat-icon style="position: relative; top: 4px;">wifi</mat-icon>
        &nbsp;{{ micro.ip }}&nbsp;
        <button mat-icon-button [matMenuTriggerFor]="menu" style="cursor: pointer; font-weight: bold; position: relative; top: -3px; vertical-align: middle;">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/temperature/realtime'">
            <mat-icon>timelapse</mat-icon>
            <span>Tiempo real</span>
          </button>
          <button mat-menu-item [routerLink]="['/temperature/history', micro.ip, micro.measure]">
            <mat-icon>bar_chart</mat-icon>
            <span>Estadísticas</span>
          </button>
          <button mat-menu-item [routerLink]="'#'">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </span>
    </h1>
    <div class="cards-container">
      <div class="card card-left">
        <app-dashboard-chart #temperature></app-dashboard-chart>
      </div>
      <div class="card card-right">
        <mat-card class="stats" style="box-sizing: border-box; height: 100%; float: right; width: 100%">
          <mat-card-title>Estadísticas</mat-card-title>
          <mat-card-content>
            <ul>
              <li>
                <div style="display: inline-block; width: 15%;">Último valor: </div>
                <span style="padding: 1%; font-weight: 500;" (click)="lastDate.style.visibility = ''">{{ temperature.lastTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.lastTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Máxima: </div>
                <span style="background-color: #ec8b8b; color: white; padding: 1%; font-weight: 500;">{{ temperature.maxTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.maxTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Mínima: </div>
                <span style="background-color: #85c0ec; color: white; padding: 1%; font-weight: 500;">{{ temperature.minTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.minTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Media: </div>
                <span style="background-color: #80808080; color: white; padding: 1%; font-weight: 500;">{{ temperature.avgTemperature }} ºC</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <div class="measure-block">
    <h1 class="topic-title white">
      <span>
        Temperatura: Arduino,
        <i>Grove - Temperature</i>
      </span>
      <span class="float-right">
        <mat-icon style="position: relative; top: 4px;">wifi</mat-icon>
        &nbsp;192.168.1.50&nbsp;
        <mat-icon style="cursor: pointer; font-weight: bold; vertical-align: middle;">keyboard_arrow_down</mat-icon>
      </span>
    </h1>
    <div class="cards-container">
      <div class="card card-left">
        <app-dashboard-chart #temperature></app-dashboard-chart>
      </div>
      <div class="card card-right">
        <mat-card class="stats" style="box-sizing: border-box; height: 100%; float: right; width: 100%">
          <mat-card-title>Estadísticas</mat-card-title>
          <mat-card-content>
            <ul>
              <li>
                <div style="display: inline-block; width: 15%;">Último valor: </div>
                <span style="padding: 1%; font-weight: 500;" (click)="lastDate.style.visibility = ''">{{ temperature.lastTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.lastTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Máxima: </div>
                <span style="background-color: #ec8b8b; color: white; padding: 1%; font-weight: 500;">{{ temperature.maxTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.maxTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Mínima: </div>
                <span style="background-color: #85c0ec; color: white; padding: 1%; font-weight: 500;">{{ temperature.minTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.minTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Media: </div>
                <span style="background-color: #80808080; color: white; padding: 1%; font-weight: 500;">{{ temperature.avgTemperature }} ºC</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="measure-block">
    <h1 class="topic-title white">
      <span>
        Temperatura: Fake-Arduino,
        <i>Fake Grove - Temperature</i>
      </span>
      <span class="float-right">
        <mat-icon style="position: relative; top: 4px;">wifi</mat-icon>
        &nbsp;192.168.1.222&nbsp;
        <mat-icon style="cursor: pointer; font-weight: bold; vertical-align: middle;">keyboard_arrow_down</mat-icon>
      </span>
    </h1>
    <div class="cards-container">
      <div class="card card-left">
        <app-dashboard-chart #temperature></app-dashboard-chart>
      </div>
      <div class="card card-right">
        <mat-card class="stats" style="box-sizing: border-box; height: 100%; float: right; width: 100%">
          <mat-card-title>Estadísticas</mat-card-title>
          <mat-card-content>
            <ul>
              <li>
                <div style="display: inline-block; width: 15%;">Último valor: </div>
                <span style="padding: 1%; font-weight: 500;" (click)="lastDate.style.visibility = ''">{{ temperature.lastTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.lastTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Máxima: </div>
                <span style="background-color: #ec8b8b; color: white; padding: 1%; font-weight: 500;">{{ temperature.maxTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.maxTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Mínima: </div>
                <span style="background-color: #85c0ec; color: white; padding: 1%; font-weight: 500;">{{ temperature.minTemperature.real_value }} ºC</span>
                <span #lastDate style="padding: 1%;">
                  <mat-icon style="line-height: inherit; vertical-align: middle;">keyboard_arrow_right</mat-icon>
                  {{ temperature.minTemperature.date }}
                </span>
              </li>
              <li>
                <div style="display: inline-block; width: 15%;">Media: </div>
                <span style="background-color: #80808080; color: white; padding: 1%; font-weight: 500;">{{ temperature.avgTemperature }} ºC</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main> -->
