.cards-container {
  height: 265px;
  text-align: center;
  .card {
    display: inline-block;
    height: 265px;
    text-align: left;
    width: 47%;
  }
}
.card-left {
  margin-right: 3%;
}
.card-right {
  margin-left: 3%;
}
.container {
  padding: 0 32px;
}
.stats {
  li {
    padding: 2% 2% 2% 0;
  }
}
.topic-title {
  background-image: linear-gradient(to right, #1954a0, #4172e1, #f5f5f5);
  border-radius: 10px;
  color: white;
  margin-top: 1%;
  padding: 16px;
  width: 100%;
}
