<main class="container">
  <div class="measure-block" *ngFor="let micro of microcontrollers">
    <h1 class="topic-title white">
      <app-dashboard-microcontroller [micro]="micro"></app-dashboard-microcontroller>
    </h1>
    <div class="cards-container">
      <div class="card card-left">
        <app-dashboard-chart #temperature [micro]="micro" (isInactive)="changeActivity($event)"></app-dashboard-chart>
      </div>
      <div class="card card-right" *ngIf="temperature.stats">
        <app-dashboard-stats [stats]="temperature.stats"></app-dashboard-stats>
      </div>
    </div>
  </div>
</main>
