<mat-card class="float-left">
  <mat-card-title>Tiempo real</mat-card-title>
  <button class="absolute black" (click)="getCurrentMeasure(false)" mat-icon-button>
    <mat-icon>sync</mat-icon>
  </button>
  <mat-card-content>
    <img class="light-image" [src]="'assets/images/light_' + lightStatus + '.png'">
    <div class="switch-container">
      <mat-slide-toggle
        (change)="slideChange(switch.checked)"
        [checked]="isLightOn()"
        class="make-visible"
        color="primary"
        [disabled]="disabledBtn"
        #switch
      >
        <span class="off-label">OFF</span>
        <span>ON</span>
      </mat-slide-toggle>
    </div>
  </mat-card-content>
</mat-card>
