angular-ms/iot-app/dist

arduino-iot/main/main.h
arduino-iot/main/main-iPhone.h

/**/node_modules/

/**/*.sh

humidity-ms/HELP.md
humidity-ms/target/
humidity-ms/!.mvn/wrapper/maven-wrapper.jar
humidity-ms/!**/src/main/**
humidity-ms/!**/src/test/**

humidity-ms/.apt_generated
humidity-ms/.classpath
humidity-ms/.factorypath
humidity-ms/.project
humidity-ms/.settings
humidity-ms/.springBeans
humidity-ms/.sts4-cache

.DS_Store
