angular-ms/iot-app/dist

arduino-iot/main/*.h
!arduino-iot/main/main-template.h

/***/node_modules/

/***/__pycache__/

/**/*.sh
/**/*.pyc

/**/HELP.md
/***/target/
/**/!.mvn/wrapper/maven-wrapper.jar
/**/!**/src/main/**
/**/!**/src/test/**

/**/.apt_generated
/**/.classpath
/**/.factorypath
/**/.project
/**/.settings
/**/.springBeans
/**/.sts4-cache

.DS_Store
/***/.vscode/
/**/.DS_Store
auth-ms/src/.vscode/settings.json
