nav {
  left: 0;
  position: fixed;
  top: 64px;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 500px) {
    top: 110px;
  }
}
.example-container,
mat-sidenav-container {
  height: 100%;
  width: 100%;
}
.fas {
  font-size: 24px;
  height: 24px;
  text-align: center;
  width: 24px;
}
.menu-icon {
  i, mat-icon {
    margin-left: 8px;
    margin-right: 12px
  }
}
footer {
  margin-top: 7%;
  @media screen and (max-width: 500px) {
    float: right;
    margin: 51% 0;
  }
}
