@import '../../../styles.less';

mat-card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
mat-table {
  height: 80%;
  right: 3%;
  top: 10%;
  width: 50%;
}
.mat-header-cell {
  font-size: 16px;
}
.current-humidity {
  .bg-blue;
  .white;
}
