<main class="container" *ngIf="micro">
  <h1 class="topic-title white">
    <span>
      {{ micro.measure }}: micro.name,
      <i>{{ micro.sensor }}</i>
    </span>
    <span class="float-right">
      <mat-icon style="position: relative; top: 4px;">wifi</mat-icon>
      &nbsp;{{ micro.ip }}&nbsp;
    </span>
  </h1>
  <form [formGroup]="historyForm" (ngSubmit)="getPreviousTemperatures(historyForm.value)">
    <mat-form-field>
      <mat-label>Fecha inicial</mat-label>
      <input formControlName="init_date" matInput [matDatepicker]="init_datepicker">
      <mat-datepicker-toggle matSuffix [for]="init_datepicker"></mat-datepicker-toggle>
      <mat-datepicker #init_datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="margin-left: 5%;">
      <mat-label>Fecha final</mat-label>
      <input formControlName="end_date" matInput [matDatepicker]="end_datepicker">
      <mat-datepicker-toggle matSuffix [for]="end_datepicker"></mat-datepicker-toggle>
      <mat-datepicker #end_datepicker></mat-datepicker>
    </mat-form-field>
    <button
      [color]="'primary'"
      [disabled]="historyForm.invalid"
      mat-raised-button
      style="margin-left: 5%;"
      type="submit"
    >
      <mat-label>Cargar</mat-label>
      <mat-icon>history</mat-icon>
    </button>
  </form>
  <div>
    <mat-form-field>
      <mat-label>Ver:</mat-label>
      <mat-select multiple [(ngModel)]="currentStats" (selectionChange)="selectChanged()" [value]="currentStats">
        <mat-option
          [disabled]="micro.measure === 'light' && stat.name !== 'Mean'"
          *ngFor="let stat of stats"
          [value]="stat.value"
        >{{ stat.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <mat-card>
    <mat-card-content>
      <google-chart [data]="chart" style="width: 100%"></google-chart>
    </mat-card-content>
  </mat-card>
</main>
