<main class="container" *ngIf="micro">
  <h1 class="topic-title white">
    <app-dashboard-microcontroller [isHistory]="true" [micro]="micro"></app-dashboard-microcontroller>
  </h1>
  <form [formGroup]="historyForm" (ngSubmit)="getPreviousMeasures(historyForm.value)">
    <mat-form-field>
      <mat-label>Fecha inicial</mat-label>
      <input formControlName="init_date" [matDatepicker]="init_datepicker" matInput>
      <mat-datepicker-toggle [for]="init_datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #init_datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha final</mat-label>
      <input formControlName="end_date" [matDatepicker]="end_datepicker" matInput>
      <mat-datepicker-toggle [for]="end_datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #end_datepicker></mat-datepicker>
    </mat-form-field>
    <button color="primary" [disabled]="historyForm.invalid" mat-raised-button type="submit">
      <mat-icon>history</mat-icon>
      <mat-label>Cargar</mat-label>
    </button>
  </form>
  <div>
    <mat-form-field class="view-stats">
      <mat-label>Ver:</mat-label>
      <mat-select
        [disabled]="!data.length"
        multiple
        [(ngModel)]="currentStats"
        (selectionChange)="selectChanged()"
        [value]="currentStats"
      >
        <mat-option
          [disabled]="isOptionDisabled(micro, stat)"
          *ngFor="let stat of stats"
          [value]="stat.value"
        >{{ stat.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <mat-card>
    <mat-card-content>
      <google-chart [data]="chart"></google-chart>
    </mat-card-content>
  </mat-card>
</main>
