<mat-card class="stats float-right">
  <mat-card-title>Estadísticas</mat-card-title>
  <mat-card-content>
    <ul>
      <li *ngIf="lastHumidity">
        <div class="measure-name">Último valor: </div>
        <span class="black measure-value">{{ lastHumidity.real_value }} %</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ lastHumidity.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="maxHumidity">
        <div class="measure-name">Máxima: </div>
        <span class="bg-light-red measure-value white">{{ maxHumidity.real_value }} %</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ maxHumidity.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="minHumidity">
        <div class="measure-name">Mínima: </div>
        <span class="bg-light-blue measure-value white">{{ minHumidity.real_value }} %</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ minHumidity.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="avgHumidity">
        <div class="measure-name">Media: </div>
        <span class="bg-gray measure-value white">{{ avgHumidity }} %</span>
      </li>
    </ul>
    <span>{{ nSamples }}</span>
  </mat-card-content>
</mat-card>
