<mat-card class="stats float-right">
  <mat-card-title>Estadísticas</mat-card-title>
  <mat-card-content>
    <ul>
      <li *ngIf="lastMeasure">
        <div class="measure-name">Último valor: </div>
        <span class="black measure-value">{{ lastMeasure.real_value }} {{ measureUnit }}</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ lastMeasure.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="maxMeasure">
        <div class="measure-name">Máxima: </div>
        <span class="bg-light-red measure-value white">{{ maxMeasure.real_value }} {{ measureUnit }}</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ maxMeasure.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="minMeasure">
        <div class="measure-name">Mínima: </div>
        <span class="bg-light-blue measure-value white">{{ minMeasure.real_value }} {{ measureUnit }}</span>
        <span>
          <mat-icon class="stats-arrow-icon">keyboard_arrow_right</mat-icon>
          {{ minMeasure.date.substring(17, 25) }}
        </span>
      </li>
      <li *ngIf="avgMeasure">
        <div class="measure-name">Media: </div>
        <span class="bg-gray measure-value white">{{ avgMeasure }} {{ measureUnit }}</span>
      </li>
    </ul>
    <span>{{ nSamples }}</span>
  </mat-card-content>
</mat-card>
