.nav-user-container {
  margin-right: 48px;
  @media screen and (max-width: 500px) {
    margin-right: 16px;
    margin-top: 20px;
  }
}
h1[mat-dialog-title] {
  font-size: 36px;
}
.login-register-btn {
  margin: 0 15%;
  width: 70%;
}
.login-register-input {
  margin: 0 5%;
  width: 90%;
  font-size: 18px;
}
.login-register-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
